<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <title></title></head>
  {% load staticfiles %}
  <body><h1>Good morning, Starshine, the Earth says 'Hello'!</h1>
    {% for post in posts %}
    <h5>{{post.title}}</h5>
    <p>{{post.message}}</p>
    {% for comment in post.comment_set.all %}
    {{comment.comment}}
    {% endfor %}
    <form action="/comments/{{post.id}}" method="post">
      {% csrf_token %}
      <textarea name="comment" rows="8" cols="40"></textarea>
      <input type="submit" value="Enter Comment">
    </form>
    {% endfor %}
    <form action="/blogs" method="post">
      {% csrf_token %}
      <label for="">Stuff</label>
      <input type="text" name="title">
      <textarea name="message" rows="8" cols="40"></textarea>
      <input type="submit" value="Enter Message">
    </form>
  </body>
  </html>
