<html>
  <head>
    <title>Form Test Show</title>
    {% load staticfiles %}
  </head>
  <body>   {% if color == 'blue' %}
    <img src="{% static 'first_app/images/leonardo.jpg' %}">
      {% elif color == 'red' %}
      <img src="{% static 'first_app/images/raphael.jpg' %}">
      {% elif color == 'orange' %}
      <img src="{% static 'first_app/images/michelangelo.jpg' %}">
      {% elif color == 'purple' %}
      <img src="{% static 'first_app/images/donatello.jpg' %}">
      {% else %}
      <img src="{% static 'first_app/images/noninja.jpg' %}">
        {% endif %}
  </body>
</html>
