<html>
<head>
  <title>Register</title>
</head>
<body><h2>{{ session ['user'] }}</hr>
  <!-- we can use the line below to see all of our data in our template -->

<h1>These are the people</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
<!-- with all the data we can then construct a more structured output -->
{% for login in all_login: %}
   <p>Email: {{ login['email'] }}</p>
   <p>First Name: {{ login['first_name'] }}</p>
   <p>Last Name: {{ login['last_name'] }}</p>
   <hr>
{% endfor %}
  <h2>Add Yourself</h2>
  <form action='/login' method='POST'>
    <label for="email">Email:<input type="text" name="email" id="email"></label>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="password">Password:<input type="text" name="password" id="password"></label>
    <label for="passconfirm">Password... one more time:<input type="text" name="passconfirm" id="passconfirm"></label>
    <input type="submit" value="Add">
  </form>
  <form action='/logingin' method='POST'>
    <label for="uemail">Email:<input type="text" name="uemail" id="uemail"></label>
    <label for="upassword">Password:<input type="text" name="upassword" id="upassword"></label>
    <input type="submit" value="Add">
  </form>
</body>
</html>
