<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Chatroom</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    var socket = io.connect();
    var current_user;
    var new_user = function(){
    var name = prompt("Enter name");
    socket.emit("page_load", {user: name});
  }
  new_user();
    socket.on("existing_user", function(data){
      $("#error").html(JSON.stringify(data.error))
      new_user();
    })
    socket.on("load_messages", function(data){
      $("#error").html("")
      current_user = data.current_user
      var messages = data.messages;
      var messages_thread = "";
      for (var i=0;i<messages.length;i++){
        messages_thread += "<h3>" + messages[i].name + ": " + messages[i].message + "</h3>"
      }
      $("#message_board").append(messages_thread);
    })
    $("#new_message").submit(function(){
      socket.emit("new_message", {message: $("#message").val(), user: current_user})
      return false;
    })
    socket.on("post_new_message", function(data){
      $("#message_board").append("<h4>" + data.user + ": " + data.new_message + "</h4>");
    })
  })
  </script>
</head>
<body>
  <div id="container">
    <div id="error"></div>
    <div id="message_board"></div>
    <form id="new_message">
      <input type="text" id="message" placeholder="message">
      <input type="submit" value="submit">
    </form>
  </div>
</body>
</html>
