<!DOCTYPE html>
  <html>
<head>
  <title></title>
</head>
<body>
  <form action="/post" method="POST">
    <label for="name">Your Name: </label>
    <input type="text" name="name", id="name">
    <label for="quote">Your Quote: </label>
      <input type="textarea" name="quote", id="quote">
      <input type="submit" value="Add My Quote">
  </form>
  <form action="/quotes" method="GET"><input type="submit" value="Skip"></form>
</body>
</html>
