<!DOCTYPE html>
  <html>
<head>
  <title></title>
</head>
<body>
  <% if(typeof(user) != 'undefined' ) { %>
  <% for (var i in user) { %>
    <ul>
   <h4><%= user[i].quote %><h5> -<%= user[i].name %></h5></h4></ul>
   <form action="/comment" method="POST">
     <label for="name">Name: </label>
     <input type="text" name="commentName", id="commentName">
     <label for="quote">Comment: </label>
       <input type="textarea" name="comment", id="comment">
       <input type="submit" value="Post Comment">
   </form>
  <% } %>
<% } %>
</body>
</html>
