<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Button, oh, Button</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      var socket = io.connect();
      $("#buttonOhbutton").click(function(){
        socket.emit("push_button", {action: "BUTTON"});
      });
      $("#reset").click(function(){
        socket.emit("reset_counter", {action: "RESET"});
      });
      socket.on("push_counter", function(data){
        $("#message").html("The button! THE BUTTON!!!!!" + JSON.stringify(data.response) + " times(s)");
      });
      socket.on("reset_response", function(data){
        $("#message").html("")
      })
    })
    </script>
</head>
<body>
  <h1 id="message"></h1>
  <h2>Do it.</h2>
  <button id="buttonOhbutton">Do it</button>
  <button id="reset">Shhhhh....</button>
</body>
</html>
